<div class="">

  <div class="form-card">
    <h2 class="card-title">Create New Team</h2>
    <form [formGroup]="createTeamForm" (ngSubmit)="onSubmit()" class="form">
      <div class="form-group">
        <label for="teamName">Team Name:</label>
        <input type="text" id="teamName" formControlName="name" placeholder="Enter team name">
        <div *ngIf="f['name'].invalid && (f['name'].dirty || f['name'].touched)" class="error-text">
          <div *ngIf="f['name'].errors?.['required']">Team name is required.</div>
          <div *ngIf="f['name'].errors?.['minlength']">Team name must be at least 3 characters.</div>
          <div *ngIf="f['name'].errors?.['maxlength']">Team name cannot exceed 50 characters.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="teamDescription">Description (Optional):</label>
        <textarea id="teamDescription" formControlName="description" placeholder="Describe your team"></textarea>
        <div *ngIf="f['description'].invalid && (f['description'].dirty || f['description'].touched)" class="error-text">
          <div *ngIf="f['description'].errors?.['maxlength']">Description cannot exceed 500 characters.</div>
        </div>
      </div>

      <div *ngIf="successMessage" class="success-message text-center" role="alert">
        {{ successMessage }}
      </div>
      <div *ngIf="errorMessage" class="error-message-alert text-center" role="alert">
        {{ errorMessage }}
      </div>

      <button type="submit" class=" btn " [disabled]="createTeamForm.invalid">Create Team</button>
    </form>
  </div>
</div>
