<section class="container">
  <!-- Removed: Main User Icon -->
  <!-- Removed: Background Football Field Elements -->

  <div class="card">
    <div class="card-overlay"></div>
    <div class="card-inner">
      <div class="form-card">
        <h2 class="card-title text-center">Invite Player to <br> "{{ teamName }}"</h2>

        <div *ngIf="successMessage" class="success-message text-center" role="alert">
          {{ successMessage }}
        </div>
        <div *ngIf="errorMessage" class="error-message-alert text-center" role="alert">
          {{ errorMessage }}
        </div>

        <form [formGroup]="invitePlayerForm" (ngSubmit)="onSubmit()" class="form-content">
          <div>
            <label for="playerEmail" class="form-label">Player Email:</label>
            <input type="email" id="playerEmail" formControlName="email" class="form-input" placeholder="Enter player's email">
            <div *ngIf="f['email'].invalid && (f['email'].dirty || f['email'].touched)" class="error-text">
              <div *ngIf="f['email'].errors?.['required']">Email is required.</div>
              <div *ngIf="f['email'].errors?.['email']">Invalid email format.</div>
            </div>
          </div>

          <button type="submit" class="submit-button" [disabled]="invitePlayerForm.invalid">Send Invitation</button>
          <button type="button" (click)="goBackToTeamDetails()" class="secondary-button mt-4">Back to Team Details</button>
        </form>
      </div>
    </div>
  </div>
</section>
